<section class="hero has-text-centered">
    <div class="hero-body">
        <p class="title">
            {{username}}
        </p>
    </div>
</section>

<!-- ADD TECH -->
<section class="container">
    <div class="columns">
        <div class="column is-three-fifths">
            <h1 class="subtitle is-size-5 mb-1 mt-6">Edit Name</h1>
            <input class="input mb-3" id="editName" type="text" placeholder="Who are you?"></input>
            <h1 class="subtitle is-size-5 mb-1">Edit Location</h1>
            <input class="input mb-3" id="editLocation" type="text" placeholder="Where do you live?"></input>
            <h1 class="subtitle is-size-5 mb-1">Add a Profile Image</h1>
            <div id="picture-div"></div>
            <button id="upload-btn" class="btn mb-4">Choose File</button>
            <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
            <h1 class="subtitle is-size-5 mb-1">Edit Bio</h1>
            <textarea class="textarea is-link mb-3" id="editBio" placeholder="Tell us about yourself!"
                rows="4"></textarea>
            <p class="control has-icons-left mb-3">
                <input class="input" id="editLinkedIn" type="text" placeholder="Add LinkedIn Profile">
                <span class="icon is-small is-left">
                    <i class="fa-brands fa-linkedin"></i>
                </span>
            </p>
            <p class="control has-icons-left mb-3">
                <input class="input" id="editGitHub" type="text" placeholder="Add GitHub Profile">
                <span class="icon is-small is-left">
                    <i class="fa-brands fa-github"></i>
                </span>
            </p>
            <div class="btnWrapper" id="editBtn">
                <button class="button mb-6">Submit</button>
            </div>
        </div>
        <div class="column is-two-fifths">
            <h1 class="subtitle is-size-5 mb-1 has-text-centered mt-6 mb-4">Add Tech</h1>
            <div class="dropdown is-justify-content-center" id="dropdownList">
                <div class="dropdown-trigger mx-1">
                    <button class="button mb-4" id="dropdownBtn" aria-haspopup="true" aria-controls="dropdown-menu3">
                        <span id="dropdownTitle">Click me</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu is-hidden" id="dropdown-menu3" role="menu">
                    <div class="dropdown-content">
                        {{#each techs}}
                        <a href="#" class="dropdown-item" data-id="{{id}}">
                            {{name}}
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- 1=Beginner 2=Intermediate 3=Advanced -->
            <p id="slider">Beginner
                {{!-- <input class="slider is-fullwidth" min="1" max="3" value="0" type="range"> --}}
                <input id="sliderWithValue" class="slider has-output is-fullwidth" min="0" max="4" value="2" step="1"
                    type="range"></input>
                <output for="sliderWithValue">Advanced</output>
            </p>
            <div class="btnWrapper">
                <button class="button mt-5" id="addTechBtn">Add</button>
            </div>
            <div id = "techContainer"></div>
        </div>
    </div>
</section>

<!-- END ADD TECH -->

<script src="./js/edit.js"></script>
<script src="./js/cloudinary.js"></script>