:root {
    background-color: #ADA7A7;
}

.navbar {
    background-color: #9F2B00,
}

#dropdownList {
    width: 100%;
}

#slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

#dropdown-menu3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    max-width: 150px;
    max-height: 150px;
}

.prof-container {
    display: flex;
    border: 2px black solid;
    justify-content: space-between;
    width: 100px;
    height: 20px;
}

.prof-meter-0 {
    padding: 0;
    margin: 0;
    background-color: black;
    width: 0%;
}
.prof-meter-1 {
    padding: 0;
    margin: 0;
    background-color: black;
    width: 25%;
}
.prof-meter-2 {
    padding: 0;
    margin: 0;
    background-color: black;
    width: 50%;
}
.prof-meter-3 {
    padding: 0;
    margin: 0;
    background-color: black;
    width: 75%;
}
.prof-meter-4 {
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
}

.new-tech {
    margin: 2px;
}

#techContainer {
    display: flex;
    flex-direction: column;
    height: 50%;
}

#techContainer div {
    display: flex;
    justify-content: space-between;
}

/* .container.box.tech {
    display: flex;
    flex-direction: column;
} */

.tech-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    margin: 10px;
}

.tech-div img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.tech-container {
    display: flex;
    justify-content: center;
}