:root {
    background-color: #ADA7A7;
}

.navbar {
    background-color: #9F2B00,
}

#dropdownList {
    width: 100%;
}

#slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

#dropdown-menu3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

